<div class='about'>
    <div>
        <h2>Introduction</h2>
        <p>With the advent of streaming services like Spotify and Apple Music, the music landscape has evolved into a dynamic
            and fast-paced environment. Songs can become hit records across the country within a matter of a couple days.
            And a few days days later another song can replace a previously reigning one. In this project, I use Spotify's
            daily Top 200 charts to explore the journey of a song's rank. Hopefully through the visualizations, you will
            be able to see how well a Top 200 song did during the year 2017. Some songs like "rockstar" by Post Malone had
            a strong and consistent run, while songs like "All I Want for Christmas Is You" by Mariah Carey saw strong rankings
            for only a couple days during Christmas time. In 2017 alone, there were
            <span style='font-weight:bold;'>{{ all_songs|length }}</span> unique songs in the Top 200.
        </p>
    </div>
    <div>
        <h2>The Story</h2>
        <p>The goal of this project is to explore the dynamic nature of songs streamed from Spotify. Using the visualizations,
            you can compare how "hot" a song was with other songs. Because everyone's music taste is different, the project
            lets the user choose the songs they're interested in analyzing.
        </p>
    </div>
</div>