<div class='conclusion'>
    <div>
        <h3>Learning Experience</h3>
        <p>I learned a lot doing this project. With regard to data collection and cleaning, I used Pandas and NumPy to shape
            the dataset to a form that is usable. I learned how to use
            <a href="https://plot.ly/">Plotly</a>, which is an awesome visualization tool that has Python and Javascript libraries. All the plots that
            you see on this website were created with the Plotly Python API.
        </p>
        <p>
            With regard to the dataset itself, I learned that song ranking trends can be pretty erratic. Some songs can stay a hit record
            for a few weeks to a few months, and some songs are hot for a short period of time. Their rankings can also jump
            wildly from one day to another. Without a larger context that considers things like culture, social media presence
            of an artist, song promotion information, it's hard to make conclusions about how these songs correlate with
            each other.
        </p>
        <p>
            Overall, this was a fun project to explore. Music is a big part of people's lives, so it's interesting to see how our favorite
            songs perform in relation to other songs.
        </p>
    </div>
    <div>
        <h3>User Feedback</h3>
        <p>The feedback I got from my user feedback was primarily about the heatmap. The user had difficulty understanding the
            color gradient - in particular, they felt that going from red (a high ranked song) to blue (a low ranked song)
            wasn't intutitive. Rather, they thought the gradient should be smoother and within a similar color range.
        </p>
        <p>
            While I understand the idea that flowing from red to blue with colors in between wasn't the most intuitive, the context of
            this project is about the
            <span style='font-weight:bold;'>Top 200 songs</span>. In this context, I think it makes sense for a high ranked song to be red, as in "hot",
            while a lower ranked song would be "cooling down", hence the blue. Thus, I kept the original color scheme as
            it is. Interesting feedback nonetheless.
        </p>
    </div>

</div>