<div class='conclusion'>
    <div>
        <h2>Learning Experience</h2>
        <p></p>
    </div>
    <div>
        <h2>User Feedback</h2>
        <p>The feedback I got from my user feedback was primarily about the heatmap. The user had difficulty understanding the
            color gradient - in particular, they felt that going from red (a high ranked song) to blue (a low ranked song)
            wasn't intutitive. Rather, they thought the gradient should be smoother and within a similar color range.
        </p>
        <p>
            While I understand the idea that flowing from red to blue with colors in between wasn't the most intuitive, the context of
            this project is about the
            <span style='font-weight:bold;'>Top 200 songs</span>. In this context, I think it makes sense for a high ranked song to be red, as in "hot",
            while a lower ranked song would be "cooling down", hence the blue. Thus, I kept the original color scheme as
            it is. Interesting feedback nonetheless.
        </p>
    </div>

</div>