<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Landscape of Top 200 Spotify Songs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class='jumbotron'>
        <h1>Landscape of Top Spotify Songs in 2017</h1>
    </div>
    <div class='container'>
        <ul class="nav nav-tabs justify-content-center" role='tablist'>
            <li class="nav-item">
                <a class="nav-link active" href="#about" data-toggle='tab'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#data" data-toggle='tab'>Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#selectsongs" data-toggle='tab'>Select Songs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#visualization" data-toggle='tab'>Visualization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#conclusion" data-toggle='tab'>Conclusion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" data-toggle="tab">References</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active show' id='about' role='tabpanel'>
                {% include 'about.html' %}
            </div>
            <div class='tab-pane' id='data' role='tabpanel'>
                {% include 'data.html' %}
            </div>
            <div class='tab-pane' id='conclusion' role='tabpanel'>
                {% include 'conclusion.html' %}
            </div>
            <div class='tab-pane' id='visualization' role='tabpanel'>
                {% include 'visualization.html' %}
            </div>
            <div class='tab-pane' id='selectsongs' role='tabpanel'>
                {% include 'selectsongs.html' %}
            </div>
            <div class='tab-pane' id='references' role='tabpanel'>
                <ul>
                    <li>
                        <a href="https://plot.ly/">Plotly</a>
                    </li>
                    <li>
                        <a href="http://www.numpy.org/">NumPy</a>
                    </li>
                    <li>
                        <a href="https://pandas.pydata.org/">Pandas</a>
                    </li>
                    <li>
                        <a href="https://spotifycharts.com/regional">Spotify Charts</a>
                    </li>
                    <li>
                        <a href="https://www.kaggle.com/edumucelli/spotifys-worldwide-daily-song-ranking">Kaggle Dataset</a>
                    </li>
                </ul>
            </div>
            <div class='plots'>
                <p>The following plots should give you insight into how well a Top 200 song did in 2017. You can interact with
                    these charts by clicking on the legends, as well as mousing over the plot themselves. You can also zoom
                    in a specifc area by dragging a selected box in a certain region. Double-click to zoom out.
                </p>
                {% if selected_songs|length>0 %}
                <div>
                    <h4>Scatterplots</h4>
                    <p>
                        These two scatter plots aim to visualize a song's growth within the Top 200 charts. The first plot simply plots the position
                        of a song over time. Remember that the higher the position, the lower the ranking, and vice versa.
                        This first plot is interesting because you can sort of reason about why a certain song is doing well
                        based on when the song is at a high rank. As mentioned in the introduction, there are a few Christmas
                        songs that see tremendous growth during the December 23rd to December 25th. The background is shaded
                        in different colors to make it easy in determining which position a song is currently at: green represents
                        Top 50, yellow represents Top 100, and red represents the rest.
                    </p>
                    <p>
                        The second scatter plot aims to look at growth in a slightly different approach. It plots the song's position difference
                        over time. More specifically, the position difference is defined as the number of positions since
                        the last recorded position for that particular song. Notice on the plot the green shaded area. This
                        area represents the "steady growth" zone, with differences between -20 and 20. There was no specific
                        reason for this range, it was simply based on observations of the heatmap where the transition in
                        the gradient seems smooth for songs that have position differences that fall in this range. For example,
                        for the time 'rockstar' and 'HUMBLE.' stayed within this region, they performed at a consistent rate.
                    </p>
                </div>
                {{pos_scatter}} {{ diff_scatter }}
                <hr>
                <div>
                    <h4>Position Heatmap</h4>
                </div>
                {{heatmap}}
                <hr>
                <p>These next two plots do a good job at aggregating a song's performance over the course of the whole year.
                </p>
                <div>
                    <h4>Boxplots</h4>
                    <p>In the boxplots, you'll be able to see minimum, maximum, median, and Q1/Q3 quartiles. These simple statistics
                        generally shows where a song ranked during the time they were on the charts. A large Q1, Q3 difference
                        means that the song climbed up (or down) the chart, while a small difference means the song stayed
                        in a relatively consistent spot.</p>
                </div>
                {{boxplot}}
                <hr>
                <div>
                    <h4>Stacked Bar</h4>
                    <p>The stacked bar, unlike the boxplots, incorporate data that captures time. More specifically, it shows
                        how many days a song has spent in a certain range. Using this type of chart makes it easy to compare
                        with other songs with regard to overall duration in a specific rank.
                    </p>
                </div>
                {{bar}}{% endif %}
            </div>
            <br>
            <br>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        $(".plots").css("display", "none")
        $('a[data-toggle="tab"]').on('click', function (e) {
            if ($(this).attr("href") == "#visualization") {
                $(".plots").css("display", "block")
            } else {
                $(".plots").css("display", "none")
            }
        })
    </script>
</body>

</html>