<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Landscape of Top 200 Spotify Songs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class='jumbotron'>
        <h1>Landscape of Top Spotify Songs in 2017</h1>
    </div>
    <div class='container'>
        <ul class="nav nav-tabs justify-content-center" role='tablist'>
            <li class="nav-item">
                <a class="nav-link active" href="#about" data-toggle='tab'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#data" data-toggle='tab'>Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#visualization" data-toggle='tab'>Visualization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#selectsongs" data-toggle='tab'>Select Songs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#conclusion" data-toggle='tab'>Conclusion</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active show' id='about' role='tabpanel'>
                {% include 'about.html' %}
            </div>
            <div class='tab-pane' id='data' role='tabpanel'>
                {% include 'data.html' %}
            </div>
            <div class='tab-pane' id='conclusion' role='tabpanel'>
                {% include 'conclusion.html' %}
            </div>
            <div class='tab-pane' id='visualization' role='tabpanel'>
                {% include 'visualization.html' %}
            </div>
            <div class='tab-pane' id='selectsongs' role='tabpanel'>
                {% include 'selectsongs.html' %}
            </div>
            {% if selected_songs|length>0 %} {{pos_scatter}} {{ diff_scatter }} {{heatmap}} {{boxplot}} {{bar}}{% endif %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>