<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Landscape of Top 200 Spotify Songs</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class='jumbotron'>
        <h1>Landscape of Top Spotify Songs in 2017</h1>
    </div>
    <div class='container'>
        <ul class="nav nav-tabs justify-content-center" role='tablist'>
            <li class="nav-item">
                <a class="nav-link active" href="#about" data-toggle='tab'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#data" data-toggle='tab'>Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#selectsongs" data-toggle='tab'>Select Songs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#visualization" data-toggle='tab'>Visualization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#conclusion" data-toggle='tab'>Conclusion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" data-toggle="tab">References</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active show' id='about' role='tabpanel'>
                {% include 'about.html' %}
            </div>
            <div class='tab-pane' id='data' role='tabpanel'>
                {% include 'data.html' %}
            </div>
            <div class='tab-pane' id='conclusion' role='tabpanel'>
                {% include 'conclusion.html' %}
            </div>
            <div class='tab-pane' id='visualization' role='tabpanel'>
                {% include 'visualization.html' %}
            </div>
            <div class='tab-pane' id='selectsongs' role='tabpanel'>
                {% include 'selectsongs.html' %}
            </div>
            <div class='tab-pane' id='references' role='tabpanel'>
                <h2>References</h2>
                <ul>
                    <li>
                        <a href="https://plot.ly/">Plotly</a>
                    </li>
                    <li>
                        <a href="http://www.numpy.org/">NumPy</a>
                    </li>
                    <li>
                        <a href="https://pandas.pydata.org/">Pandas</a>
                    </li>
                    <li>
                        <a href="https://spotifycharts.com/regional">Spotify Charts</a>
                    </li>
                    <li>
                        <a href="https://www.kaggle.com/edumucelli/spotifys-worldwide-daily-song-ranking">Kaggle Dataset</a>
                    </li>
                </ul>
            </div>
            <div class='plots'>
                <p>The following plots should give you insight into how well a Top 200 song did in 2017. You can interact with
                    these charts by clicking on the legends, as well as mousing over the plot themselves.
                </p>
                {% if selected_songs|length>0 %}
                <div>
                    <h4>Scatterplots</h4>
                </div>
                {{pos_scatter}} {{ diff_scatter }}
                <hr>
                <div>
                    <h4>Position Heatmap</h4>
                </div>
                {{heatmap}}
                <hr>
                <p>These next two plots do a good job at aggregating a song's performance over the course of the whole year.
                    In the boxplots, you'll be able to see minimum, maximum, median, and Q1/Q3 quartiles. These simple statistics
                    generally shows where a song ranked during the time they were on the charts. A large Q1, Q3 difference
                    means that the song climbed up (or down) the chart, while a small difference means the song stayed in
                    a relatively consistent spot.
                </p>
                <div>
                    <h4>Boxplots</h4>
                </div>
                {{boxplot}}
                <hr>
                <div>
                    <h4>Stacked Bar</h4>
                </div>
                {{bar}}{% endif %}
            </div>
            <br>
            <br>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        $(".plots").css("display", "none")
        $('a[data-toggle="tab"]').on('click', function (e) {
            if ($(this).attr("href") == "#visualization") {
                $(".plots").css("display", "block")
            } else {
                $(".plots").css("display", "none")
            }
        })
    </script>
</body>

</html>